.body {
  font-family: 'Roboto', sans-serif;
  margin: 24px;
}

.word_card {
  margin: 16px;
  font-size: 24px;
}

.searchbar {
  height: 40px;
  width: 400px;
  font-size: 20px;
  font-weight: bold;
  padding: 0 8px;
}

.japanese {
  font-weight: bold;
}

.kana_boundary {
  color: rgb(255,0,0);
}
