.body {
  font-family: 'Roboto', sans-serif;
}

.word_card {
  border: 1px solid #999;
  font-size: 18px;
}

.searchbar {
  height: 40px;
  width: 400px;
  font-size: 20px;
  font-weight: bold;
  padding: 0 8px;
}

.kana {
  font-weight: bold;
}

.kana_boundary {
  color: rgb(255,0,0);
}
